{% extends 'starter.html' %}
{% load static %}

{% block title %}Produtos em Alerta{% endblock %}


{% block settings %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="container-sm">
        <form class="row my-4 mx-auto" action="" method="get">
            <input class="col col-5 me-5 p-1 rounded" type="text" name="filter" id="filter" placeholder="Filtrar ração" class="form-control">
            <input class="btn btn-primary p-1 col col-5 " type="submit" value="Filtrar Dados">
        </form>
    </div>

    <div class="mx-auto mb-5" id="table_foods">
        <table class="table table-sm table-striped table-hover text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Nome</th>
                    <th class="responsive-micro-column">Peso</th>
                    <th class="responsive-column">Tipo</th>
                    <th>QTD</th>
                    {% if user.is_superuser %}
                        <th class="responsive-column">Valor Compra</th>
                    {% endif %}
                    <th>Valor Venda</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% if pet_food %}
                    {% for item in pet_food %}
                        <tr class="border-top border-dark" >
                            <td class="text-danger fw-bold">{{ item.food }} <span class="show-micro">{{item.weight}} Kg</span></td>
                            <td class="responsive-micro-column">{{ item.weight }} KG</td>
                            <td class="responsive-column">{{ item.animal }}</td>
                            <td class="text-danger fw-semibold">{{ item.quantity }}</td>
                            {% if user.is_superuser %}                            
                                <td class="responsive-column">R$ {{ item.buy_price|floatformat:2 }}</td>
                            {% endif %}
                            <td>R$ {{ item.sell_price_card|floatformat:2 }}</td>
                            <td><a href="{% url 'storage:Detail' item.pk %}" class="btn btn-danger p-1 px-3 my-buttom_alert">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                </svg>
                            </a></td>
                        </tr>

                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8"><p class="h2 p-2 text-danger">Não Encontramos Nenhum Produto Com Base Nesses Filtros</p></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}