{% extends 'starter.html' %}
{% load static %}

{% block settings %}
    {% if not user.is_superuser %}
        <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    {% endif %}
{% endblock %}


{% block content %}
    <div class="container-md mx-auto my-4 bg-light text-center rounded-pill border border-dark">
        <h1 class="p-1">Detalhes da {{item.food}}</h1>
    </div>

    <div class="container-sm border border-2 rounded p-4 d-lg-none bg-light" style="max-width: 500px;">
        <div class="col card w50">
            {% if item.image %}
                <img class="card-img-top" src="{{item.image.url}}" alt="{{item.food}}" height="225">
            {% else %}
                <img class="card-img-top" src="{% static 'img/no-photo.png' %}" alt="{{item.food}}" height="225">
            {% endif %}
            <h2 class="card-title text-center">{{item.food}} {{item.weight}} KG</h2>
            <div class="card-text mt-2">
                <p class="ms-2 lead fw-bold"><span class="text-primary me-2">Quantidade:</span> {{item.quantity}}</p>
                {% if user.is_superuser %}
                    <p class="ms-2 lead fw-bold"><span class="text-primary me-2">Quantidade de Alerta:</span> {{item.alert_quantity}}</p>
                {% endif %}
                {% if user.is_superuser %} 
                    <p class="ms-2 lead fw-bold"><span class="text-success">Valor de compra:</span> R$ {{item.buy_price|floatformat:2}}</p>
                {% endif %}
                    <p class="ms-2 lead fw-bold"><span class="text-danger">Valor de Venda Cartão:</span> R$ {{item.sell_price_card|floatformat:2}}</p>
                <p class="ms-2 lead fw-bold"><span class="text-danger">Valor de Venda Dinheiro:</span> R$ {{item.sell_price_money|floatformat:2}}</p>
            </div>
        </div>
        <div class="col mt-3 d-flex justify-content-evenly">

            <a type="button" class="btn btn-sm btn-danger m-2 text-center sell_button" data-bs-toggle="modal" data-bs-target="#sell_modal">Realizar Venda</a>
            {% if user.is_superuser %}
            <a type="button" class="btn btn-sm btn-success m-2 text-center " data-bs-toggle="modal" data-bs-target="#buy_modal">Comprar </a>
            <a href="{% url 'storage:Update' item.pk %}" class="btn btn-sm btn-primary m-2 text-center">Editar Ração</a>
            <a type="button" data-bs-toggle="modal" data-bs-target="#delete_modal" class="btn col btn-sm btn-secondary m-2 text-center ">Deletar Ração</a>
            {% endif %}

        </div>
    </div>

    <div class="d-none d-lg-block container-flex m-4 align-self-center bg-light border border-1 p-5 border-black rounded">
        <div class="row text-center">
            <div class="col col-4 h-75 p-0">
                {% if item.image %}
                    <img class="img-thumbnail" src="{{item.image.url}}" alt="{{item.food}}" style="height: 500px !important">
                {% else %}
                <img class="img-thumbnail" src="{% static 'img/no-photo.png' %}" alt="{{item.food}}" style="height: 500px !important">
                {% endif %}
            </div>
            <div class="col col-8">
                <div class="container-sm text-center">
                    <h1 class="fs-1 fw-bold col-12">{{item.food}} | {{item.weight}} KG</h1>
                    <hr class="col-12 border-2 border-dark">
                    <div class="row">
                        <p class="fs-3 fw-semibold col-5 text-end me-3">Distribuidora :</p>
                        <p class="fs-3 col-5 text-start">{{item.brand}}</p>
                    </div>

                    <div class="row">
                        <p class="fs-3 fw-semibold col-5 text-end me-3">Quantidade :</p>
                        <p class="fs-3 col-5 text-start">{{item.quantity}} UN.</p>
                    </div>

                    {% if user.is_superuser %}
                    <div class="row">
                        <p class="fs-3 fw-semibold col-5 text-end me-3">Quantidade de Alerta:</p>
                        <p class="fs-3 col-5 text-start">{{item.alert_quantity}} UN.</p>
                    </div>
                    {% endif %}

                    {% if user.is_superuser %}
                    <div class="row">
                        <p class="fs-3 fw-semibold col-5 text-end me-3">Preço Compra :</p>
                        <p class="fs-3 col-5 text-start text-success">{{item.buy_price|floatformat:2}} R$</p>
                    </div>
                    {% endif %}

                    <div class="row">
                        <p class="fs-3 fw-semibold col-5 text-end me-3">Preço Venda crédito :</p>
                        <p class="fs-3 col-5 text-start text-danger">{{item.sell_price_card|floatformat:2}} R$</p>
                    </div>

                    <div class="row">
                        <p class="fs-3 fw-semibold col-5 text-end me-3">Preço Venda Dinheiro :</p>
                        <p class="fs-3 col-5 text-start text-danger">{{item.sell_price_money|floatformat:2}} R$</p>
                    </div>

                    <div class="row mt-4">

                        <a type="button" data-bs-toggle="modal" data-bs-target="#sell_modal" class="btn btn-danger col m-2 p-2 text-center sell_button">Realizar venda <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1z"/>
                          </svg></a>

                        {% if user.is_superuser %}
                          <a type="button" data-bs-toggle="modal" data-bs-target="#buy_modal" class="btn btn-success col m-2 p-2 text-center ">Adicionar ao Estoque <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                          </svg></a>
                      
                            <a href="{% url 'storage:Update' item.pk %}" class="btn btn-primary col m-2 p-2 text-center">Editar {{item.food}}</a>
                            
                            <a type="button" data-bs-toggle="modal" data-bs-target="#delete_modal" class="btn col btn-secondary m-2 p-2 text-center ">Deletar Ração</a>
                        {% endif %}
                    </div>         
                </div>
            </div>
        </div>
        
    </div>
    <div class="container-sm mx-auto text-center">
        <a href="{% url 'storage:Home' %}" class="fs-3 container-sm btn btn-primary mx-auto mt-4" style="max-width: 450px;">Voltar Ao Inicio</a>
    </div>


    <div class="modal fade" id="buy_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="buy_model_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header bg-success">
              <h1 class="modal-title fs-4 text-light" id="buy_model_label">Comprar {{item.food}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'storage:Transition' item.pk %}" id="form-buy" method="post"> {% csrf_token %}
                <div class="modal-body">
                <p class="fs-4 fw-bold">Atualmente há <span class="text-success">{{item.quantity}}</span> rações no estoque. quantas Deseja Adicionar?</p>
                    <div class="d-flex w-75 mt-4 text-center ms-auto">
                        <label for="quantidade_compra" class="form-label me-4 fs-2">QTD:</label>
                        <input type="number" name="quantidade" id="quantidade_compra" required min="1" placeholder="Quantas?" class="form-control w-50 align-middle">
                        <input type="hidden" name="tipo_movimentacao" value="buy">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-success">Realizar Compra</button>
                </div>
            </form>
          </div>
        </div>
      </div>


      <div class="modal fade" id="sell_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="sell_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header bg-danger">
              <h1 class="modal-title fs-4 text-light" id="sell_modal_label">vender {{item.food}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'storage:Transition' item.pk %}" id="form-sell" method="post" data-stock-quantity="{{ item.quantity }}"> {% csrf_token %}
                <div class="modal-body">
                <p class="fs-4 fw-bold">Atualmente há <span class="text-danger">{{item.quantity}}</span> rações no estoque. quantas Deseja Vender?</p>
                    <div class="d-flex w-75 mt-4 text-center ms-auto">
                        <label for="quantidade_venda" class="form-label me-4 fs-2">QTD:</label>
                        <input type="number" name="quantidade" id="quantidade_venda" required min="1" max="{{item.quantity}}" placeholder="Quantas?" class="form-control w-50 align-middle">
                        <input type="hidden" name="tipo_movimentacao" value="sell">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-danger">Vender Ração</button>
                </div>
            </form>
          </div>
        </div>
      </div>


      <div class="modal fade"  id="delete_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="delete_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header bg-secondary">
              <h1 class="modal-title fs-4 text-light" id="delete_modal_label">Deletar Ração</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
                <p class="fs-3 fw-bold">Você realmente deseja deletar a {{item.food}} do sistema?</p>
                <p class="lead fs5 text-start">Essa ação é irreversivel.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <a href="{% url 'storage:Delete' item.pk %}" class="btn btn-danger">Deletar Ração</a>
                </div>
            </div>
          </div>
        </div>
    </div>


{% endblock %}

<script src="{% static 'js/transitions.js'%}"></script>