@media (max-width: 800px) {
    .responsive-column {
        display: none;
    }
}

@media (max-width: 500px) {

    .my-responsive-item{
        display: none !important;
    }

}

.my-responsive-item{
    width: 300px;
}
.my-item{
    width: 175px;
}

#table_foods{
    max-width: 1500px;
}


.my-buttom:hover{
    background-color: #0d6dfdad !important;
    color: rgba(255, 255, 255, 0.507);
}

.my-buttom_alert:hover{
    background-color: #dc3546ad !important;
    color: rgba(255, 255, 255, 0.507);  
}

.non-style{
    text-decoration: none;
    color: black;
}

.non-style:hover{
    color: rgb(0, 102, 255);
    text-decoration: underline;
}