@font-face {
    font-family: fairplay;
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

html, body{
    background-image: url(../img/Background.jpg);
}

nav, main{
    max-width: 1920px !important; 
}

footer{
    position: fixed !important;
    bottom: 0 !important;
    width: 100%;
}

#name-input{
    max-width: 275px;
}

.title{
    font-family: fairplay;
    font-weight: bold;
}

.retrieve_buttom{
    padding: 0 !important;
    text-align: center;
    margin: 0;
}
